
*{
    list-style: none;
    color: rgb(141, 129, 129);
    font-family: 'Mukta', sans-serif;
    
    
    
    }
    
    html {
        margin:0;
        padding:0;
        }
    
    body{
    background: #0B122C;
    height: 300vh;
    
    
    
    }
    
    .textt{
    height: 500px;
    width:500px;
    margin-left:150px;
    border: solid rgb(146, 113, 113) 1 px;
    display: inline-block;
    }
    
    .navebar{
        
        position: sticky;
        top: 1px;
        z-index: 100;
        background: rgb(22, 41, 97);
    height: 50px;
    
    
    }
    
    
    
    
    
    .backg{
    background: rgb(95, 76, 76);
    height: 20px;
    width: 100%;
    }
    
    
    
    .info{
      
        margin-left: 600px;
    height: 500px;
    width: 500px;
        display: inline-block;
       
        }
    
    
    
    li{
        float:left;
        padding-left: 20px;
        border-radius: 30px;
        border: rgb(2, 4, 10) 2px;
    }
    
    
    .bar{
       
        width: 30em;
        height: 1em;
        border-radius: 0.5em;
        position: relative;
        background: #bb9f9f;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
      }
    
      .info2{
          
        margin-left: 600px;
    
        display: inline-block;
        height: 500px;
    width:500px;
    
    border: solid rgb(146, 113, 113) 1 px;
    display: inline-block;
        }
    
    .webdesign{
    
        margin-left: 150px;
    margin-top: 100px;
        display: inline-block;
        height: 500px;
    width:500px;
    
    border: solid rgb(146, 113, 113) 1 px;
    display: inline-block;
    
    }
    
    .teletravail {
    
        margin-left: 600px;
        margin-top: 100px;
            display: inline-block;
            height: 500px;
        width:500px;
        
        border: solid rgb(146, 113, 113) 1 px;
        display: inline-block;
    
    
    
    }
      
    .mes-projects {
    
        margin-left: 150px;
        margin-top: 100px;
            display: inline-block;
            height: 200px;
        width:500px;
        
        border: solid rgb(146, 113, 113) 1 px;
        display: inline-block;
    
    
    
    }
    
    .contact{
        margin-left: 600px;
        margin-top: 100px;
            display: inline-block;
            height: 150px;
        width:500px;
        
        border: solid rgb(146, 113, 113) 1 px;
        display: inline-block; 
    }
    
    .image{
    background: url(./pexels-markus-spiske-2004161.jpg) 100%;
    height: 500px;
    width: 100%;
    border: black 3px solid;
    }
    
    
    
    
    
    
    li:hover {
    
    background: red;
    
    }
    
    
    .hov:hover{
    
    color: yellow;
    
    }
    
    
    